^contentpage {
    background-color: #2F2F2F;
}

.PageBackgroundColor {
    background-color: black;
}

#header {
    font-size: 32;
    font-weight: bolder;
    color: black;
}


Button {
    background-color: red;
    color: white;
}

label {
    color: white;
}

.LabelTextColor {
    color: black;
}

.EnrtyStyle {
    font-size: 16;
    background-color: white;
}

#styleforIvansk {
    font-size: 16;
    background-color: white;
    color: black;
}
